@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
@keyframes zoom {
  0% { transform: scale(1.05); }
  100% { transform: scale(1.15); }
}
html {
  scroll-behavior: smooth;
}
